# Node modules
/node_modules

# Mac system files
.DS_Store

# WXT files
.output
stats.html
stats-*.json
.wxt
web-ext.config.ts
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.edit.xml
